<div class="card">
  <div class="card-image-wrapper">
    <img
      class="property-image"
      src="assets/images/house_default.png"
      alt="House"
    />
    <ul class="list-inline text-center member-icons">
      <li class="list-inline-item">
        <button
          class="btn btn-primary"
          [routerLink]="['/property-detail/', property.Id]"
          routerLinkActive="active"
        >
          <i class="far fa-edit"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button
          class="btn btn-primary"
          [routerLink]="['/contact']"
          routerLinkActive="active"
        >
          <i class="far fa-address-card"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h1>{{ property.Name }}</h1>
    <h2>{{ property.Type }}</h2>
    <h3>{{ property.Price }}</h3>
  </div>
</div>
